@import "../../common/styles/breakpoints";
@import "../../common/styles/varibles";
@import "../../common/styles/templates";

.date_now {
  position: relative;
  @extend %flex-center;
  background-color: lightblue;
  color: $color-white;
  width: 100%;
  height: 300px;
}

@media screen and (min-width: $sm) {
  .date_now {
    width: 50%;
    height: auto;
  }
}
